@model WebAppValidation.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h2>Your Appointment is Completed</h2>

<p>Doctor name : @Html.DisplayFor(m => m.DoctorName)</p>
<p>Appoiintment Date: @Html.DisplayFor(m => m.Date)</p>

